body {
    background-image: url("smw1.png");
    background-size: 1320px 600px;
    background-repeat: no-repeat;
    align-items: center;
     justify-content: center;
}

body p1 {
    text-align: center;
    color: black;
}

#game {
    width: 680px;
    height: 480px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 40px auto;

}

p {
    text-align: center;
    color: black;
    
}

title {
    text-align: center;
    color: black;
}
